[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
mysqlclient = "*"
python-dotenv = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
drf-nested-routers = "*"
drf-yasg = "*"
factory-boy = "*"
pillow = "*"
django-cors-headers = "*"
django-templated-mail = "*"
redis = "*"
celery = "*"

[dev-packages]

[requires]
python_version = "3.10"
